.callout.callout {
  margin-block: 32px;
  margin-inline: clamp(8px, 2vw, 20px);
  padding: 20px;
  display: grid;
  gap: 16px;
  background: hsl(var(--muted));
  box-shadow: 0 4px 18px rgb(6 182 212 / 12%);
}

.callout.callout > p {
  margin: 0;
}
